header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 50;
  transition: transform 0.2s var(--cubic), opacity 0.2s var(--cubic);
  background-color: rgba(0, 0, 0, 1);
  color: white;
  overflow: hidden;
  .inner {
    div {
      // min-height: 1.5em;
      // line-height: 1.4;

      a {
        // min-height: 1.5em;
      }
    }
  }
  &.is-down {
    transform: translateY(-100%);
    opacity: 0;
  }

  @media all and (max-width: $md) {
    .inner {
      div {
        // line-height: 1.5;
      }
    }
  }
}
